@import "./vars.sass"

body
  background-color: $background-color

  div.clear
    clear: both

.app
  width: $app-width
  margin: 100px auto
  border: $space-small solid $calc-background-color
  border-radius: 6px
  background-color: $calc-background-color

.stack
  padding: $space-small
  font-size: 24px
  line-height: 30px
  margin-bottom: $space-small
  // font-weight: 300
  text-align: right
  color: $calc-background-color
  background-color: $stack-color

.button-row

  &:first-of-type
    .button
      border-top: 0px

  .button
    $height-multiplier: 0.185

    width: $button-default-width * $app-width
    height: $height-multiplier * $app-width
    display: inline-block
    float: left
    box-sizing: border-box
    text-align: center
    font-size: 18px
    line-height: $height-multiplier * $app-width - 3px
    border: 3px solid $calc-background-color
    background-color: $stack-color
    color: $accent-dark
    cursor: pointer
    user-select: none
    border-left: 0px
    border-bottom: 0px

    &:hover
      background-color: #d9dce2
      // color: $accent
      // color: #fff      

    &.functional
      width: $button-functional-width * $app-width
      height: $height-multiplier * $app-width
      background-color: $accent
      color: #fff
      border-right: 0px
      font-size: 20px

      &:hover
        background-color: $accent-dark
    
    &.small-text
      font-size: 14px

    &.equals
      border-top: 0px
      margin-top: $space-small - 1px
      float: right
      width: 100%
